<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>胡豆短租数据日报</title>
    <link rel="stylesheet" type="text/css" href="/static/hudou.css"/>
    <script src="/static/Chart.bundle.min.js"></script>
    <script src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="container">
    <div class="title">
        胡豆短租数据日报
    </div>
    <div class="block">
        <div class="data center">
            <div class="value strong">
                {{ turnover }}<span class="unit">元</span>
            </div>
            <div class="label">
                交易额
            </div>
        </div>

        <div class="box">
            <div class="data">
                <div class="value">
                    {{ soldRooms }}<span class="unit">间</span>
                </div>
                <div class="label">
                    已售
                </div>
            </div>
            <div class="data">
                <div class="value">
                    {{ totalRooms }}<span class="unit">间</span>
                </div>
                <div class="label">
                    总数
                </div>
            </div>
            <div class="data">
                <div class="value">
                    {{ soldPercent }}<span class="unit"></span>
                </div>
                <div class="label">
                    出租率
                </div>
            </div>
        </div>
        <div class="data center">
            <div class="note">
                最后更新: {{ lastUpdated }}
            </div>
        </div>
    </div>
    <div class="block">
        <canvas id="houseAreaChart" width="200" height="100"></canvas>
    </div>
    <div class="block">
        <div id="days" class="days" val="7">数据日期：<a id="days7" val="7" href="#">最近7日</a>|<a id="days15" val="15"
                                                                                            href="#">最近15日</a></div>
        <canvas id="houseSoldChart" width="200" height="100"></canvas>
    </div>
    <div class="block">
        <canvas id="turnoverChart" width="200" height="100"></canvas>
    </div>
    <div class="block">
        <div id="access-logs" class="center">
        </div>
    </div>
</div>

<script>
    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };
    //Chart.defaults.global.defaultFontSize = 16
    titleSize = 30
    labelSize = 24

    legend = {
        labels: {fontSize: labelSize},
        scaleLabel: {fontSize: labelSize},
        pointLabels: {fontSize: labelSize}
    };
    hover = {mode: 'nearest', intersect: true};
    tooltips = {mode: 'index', intersect: false, titleFontSize: 20, bodyFontSize: 20};

    var houseAreaChartConfig = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.blue
                ],
                label: '房源'
            }],
            labels: []
        },
        options: {
            responsive: true,
            tooltips: tooltips,
            legend: {
                position: 'top',
                labels: {fontSize: labelSize},
                scaleLabel: {fontSize: labelSize},
                pointLabels: {fontSize: labelSize}
            },
            title: {display: true, text: '房源区域分布图', fontSize: titleSize},
            animation: {animateScale: true, animateRotate: true}
        }
    };

    var houseSoldChartConfig = {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: "总房源数",
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                data: [],
                fill: false,
            }, {
                label: "已售房源",
                fill: false,
                backgroundColor: window.chartColors.blue,
                borderColor: window.chartColors.blue,
                data: [],
            }]
        },
        options: {
            responsive: true,
            title: {display: true, text: '近7日房源销售趋势图', fontSize: titleSize},
            tooltips: tooltips,
            hover: hover,
            legend: legend,
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {display: true, labelString: '日期', fontSize: labelSize},
                    ticks: {fontSize: labelSize}
                }],
                yAxes:
                    [{
                        display: true,
                        scaleLabel: {display: true, labelString: '房间数', fontSize: labelSize},
                        ticks: {
                            fontSize: labelSize,
                            suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                            beginAtZero: true   // minimum value will be 0.
                        }
                    }]
            }
        }
    };

    var turnoverChartConfig = {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: "销售额",
                fill: false,
                backgroundColor: window.chartColors.orange,
                borderColor: window.chartColors.orange,
                data: [],
            }]
        },
        options: {
            responsive: true,
            title: {display: true, text: '近7日销售额趋势图', fontSize: titleSize},
            tooltips: tooltips,
            hover: hover,
            legend: legend,
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {display: true, labelString: '日期', fontSize: labelSize},
                    ticks: {fontSize: labelSize}
                }],
                yAxes:
                    [{
                        display: true,
                        scaleLabel: {display: true, labelString: '销售额', fontSize: labelSize},
                        ticks: {
                            fontSize: labelSize,
                            suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                            beginAtZero: true   // minimum value will be 0.
                        }
                    }]
            }
        }
    };

    $(function () {
        var $days = $('div#days');
        $('a', $days).click(function () {
            var val = $days.attr('val');
            var $a = $(this);
            var days = $a.attr('val');
            if (days != val) {
                var days = $a.attr('val');
                $days.attr('val', days);
                loadLatestSummary($a.attr('val'));
                fixDaysLinks();
            }
            return false;
        });
        fixDaysLinks();

        var houseAreaChartCtx = document.getElementById("houseAreaChart").getContext("2d");
        var houseAreaChart = new Chart(houseAreaChartCtx, houseAreaChartConfig);

        var houseSoldChartCtx = document.getElementById("houseSoldChart").getContext("2d");
        var houseSoldChart = new Chart(houseSoldChartCtx, houseSoldChartConfig);


        var turnoverChartCtx = document.getElementById("turnoverChart").getContext("2d");
        var turnoverChart = new Chart(turnoverChartCtx, turnoverChartConfig);

        var DEFAULT_DAYS = 7;
        loadHouseAreaChartData();
        loadLatestSummary(DEFAULT_DAYS);

        function fixDaysLinks() {
            var $days = $('div#days');
            var val = $days.attr('val');
            $('a', $days).each(function (o) {
                var $this = $(this);
                if (val == $this.attr('val')) {
                    $this.addClass('non-click');
                } else {
                    $this.removeClass('non-click');
                }
            });
        }

        function loadHouseAreaChartData() {
            $.ajax({
                url: "/getHouseArea",
                type: "GET",
                datatype: "JSON",
                data: {},
                success: function (data) {
                    //console.log(data);
                    houseAreaChartConfig.data.labels = data.areas;
                    houseAreaChartConfig.data.datasets[0].data = data.areaCounts;
                    houseAreaChart.update();
                },
                error: function () {
                    alert("提交失败！");
                }
            });
        }

        function loadLatestSummary(days) {
            $.ajax({
                url: "/getLatestSummary",
                type: "GET",
                datatype: "JSON",
                data: {days: days},
                success: function (data) {
                    //console.log(data);
                    houseSoldChartConfig.data.labels = data.dates;
                    houseSoldChartConfig.data.datasets[0].data = data.totalRooms;
                    houseSoldChartConfig.data.datasets[1].data = data.soldRooms;
                    houseSoldChartConfig.options.title.text = '近' + days + '日房源销售趋势图';
                    houseSoldChart.update();

                    turnoverChartConfig.data.labels = data.dates;
                    turnoverChartConfig.data.datasets[0].data = data.turnovers;
                    turnoverChartConfig.options.title.text = '近' + days + '日销售额趋势图';
                    turnoverChart.update()
                },
                error: function () {
                    alert("提交失败！");
                }
            });
        }

        $.ajax({
                url: "/getAccessHistory",
                type: "GET",
                datatype: "JSON",
                data: {},
                success: function (data) {
                    //console.log(data);
                    var block = $('div#access-logs')
                    var len = data.data.length;
                    block.append('<div>今日共 <strong>' + len + '</strong> 人访问该日报。</div>');
                    if (len > 0) {
                        $('div', block).append('<div id="show-details-link"><a href="#">显示详细</a></div>');
                        var $accessDetails = $('<div class="access-details hide"></div>');
                        block.append($accessDetails)
                        $.each(data.data, function (i, v) {
                            var $row = $('<div class="row"></div>');
                            $accessDetails.append($row);
                            $row.append('<div class="ip">' + v.ip + '</div>');
                            $row.append('<div class="count">' + v.count + ' 次</div>');
                            $row.append('<div class="city">' + v.city + '</div>');
                            $row.append('<div class="provider">' + v.provider + '</div>');
                            $row.append('<div class="access-time">' + v.accessTime + '(最后访问)</div>');
                        });

                        $('#show-details-link a').click(function () {
                            var $link = $(this);
                            var $accessDetails = $('div.access-details');
                            if ($accessDetails.hasClass('hide')) {
                                $accessDetails.removeClass('hide').addClass('show');
                                $link.text('隐藏详细');
                            } else {
                                $accessDetails.removeClass('show').addClass('hide');
                                $link.text('显示详细');
                            }
                            return false;
                        });
                    }
                },

                error: function () {
                    alert("提交失败！");
                }
            }
        );
    });
</script>
</body>
</html>